<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zone.mapper.EnterpriseAuditMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO biz_enterprise_audit (
        enterprise_id, status, opinion, auditor_id, create_time
        ) VALUES (
        #{enterpriseId}, #{status}, #{opinion}, #{auditorId}, NOW()
        )
    </insert>

    <delete id="deleteByEnterpriseIds">
        DELETE FROM biz_enterprise_audit
        WHERE enterprise_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByEnterpriseId" resultType="com.zone.domain.vo.EnterpriseAuditVO">
        SELECT
        a.*,
        u.real_name AS auditorName,
        CASE
        WHEN a.status = 0 THEN '入驻申请'
        WHEN a.status = 1 THEN '准予入驻'
        WHEN a.status = 2 THEN '入驻驳回'
        WHEN a.status = 4 THEN '申请迁出'
        WHEN a.status = 3 THEN '准予迁出'
        ELSE '系统操作'
        END AS auditAction
        FROM biz_enterprise_audit a
        LEFT JOIN sys_user u ON a.auditor_id = u.id
        WHERE a.enterprise_id = #{enterpriseId}
        ORDER BY a.create_time DESC
    </select>

</mapper>